.btn {
  @include reset-button;

  height: fvh(44);

  &__icon {
    @include size(fvw(70), 100%);

    background-color: #fff;
    padding: fvw(3);
  }

  &__text {
    padding: 0 fvw(40);
  }

  &--sm {
    padding: 0 fvw(10);
    height: fvh(28);
  }

  &--lg {
    height: fvh(86);
  }

  &--primary {
    background-color: $primary;
  }

  &--secondary {
    background-color: $secondary;
  }

  &--green {
    background-color: $green;
  }
}
