.h-category {
  @include flex($align-items: center);
  @include size(100%, 39px);

  position: relative;
  border-bottom: 1px solid #2f3345;
  padding: 5px 0;

  &__text {
    @include ellipsis;

    margin-right: 10px;
    color: rgba(#fff, 0.5);
  }

  &__icon {
    margin-top: 2px;
    width: 30px;

    path {
      fill: rgba(#fff, 0.5);
    }
  }

  &__favourite {
    opacity: 0.5;
    margin-right: 0;
    margin-left: auto;
    cursor: pointer;
    width: 19px;

    &--active {

      svg {
        fill: #fff;
      }
    }
  }

  &--active {

    .h-category {

      &__icon {

        path {
          fill: #fff;
        }
      }

      &__text {
        color: #fff;
      }
    }
  }
}
