.m-login {
  @include flex(center, center);

  background-color: rgba(#383a4a, 0.5);
  background-image: url('../img/bg/bg.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: calc(100vh - 50px);

  &__wrap {
    text-align: center;
  }

  &__text {
    margin-bottom: 20px;
    color: rgba(#fff, 0.5);
    font-size: 16px;
  }

  &__btn {
    @include size(160px, 38px);
    @include reset-button;

    margin: 0 auto;
    border-radius: 2px;
    background-color: $gold;
    padding: 5px 10px;
  }
}
