mixin social
  .social&attributes(attributes)
    .flex.align-middle.align-right.social__wrap
      a(href="#" target="_blank").social__item
        svg(xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 71.038 71.038')
          path#Path_380(data-name='Path 380' d='M1556.13,2266.544a35.519,35.519,0,1,0,35.519,35.519A35.519,35.519,0,0,0,1556.13,2266.544Zm10.412,20.248a.567.567,0,0,1-.567.567h-4.514a2.006,2.006,0,0,0-2.006,2.006v4.726h6.42a.567.567,0,0,1,.565.614l-.563,6.662a.567.567,0,0,1-.565.519h-5.857V2324a.565.565,0,0,1-.566.566h-8.079a.566.566,0,0,1-.567-.566v-22.109H1546.2a.567.567,0,0,1-.567-.567v-6.662a.567.567,0,0,1,.567-.566h4.039v-6.422a8.105,8.105,0,0,1,8.1-8.1h7.627a.567.567,0,0,1,.567.567Z' transform='translate(-1520.611 -2266.544)' fill='#fff')
      a(href="#" target="_blank").social__item
        svg(xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 71.039 71.038')
          g#Group_606(data-name='Group 606' transform='translate(-1618.224 -2266.544)')
            path#Path_381(data-name='Path 381' d='M1654.05,2294.638a7.425,7.425,0,1,0,7.424,7.425A7.434,7.434,0,0,0,1654.05,2294.638Z' fill='#fff')
            path#Path_382(data-name='Path 382' d='M1663.252,2282.957H1644.46a9.72,9.72,0,0,0-9.709,9.71v18.792a9.719,9.719,0,0,0,9.709,9.709h18.792a9.72,9.72,0,0,0,9.71-9.709v-18.792A9.721,9.721,0,0,0,1663.252,2282.957Zm-9.2,30.7a11.592,11.592,0,1,1,11.591-11.591A11.6,11.6,0,0,1,1654.05,2313.654Zm12.267-21.2a2.759,2.759,0,1,1,2.76-2.76A2.759,2.759,0,0,1,1666.317,2292.452Z' fill='#fff')
            path#Path_383(data-name='Path 383' d='M1653.744,2266.544a35.519,35.519,0,1,0,35.519,35.519A35.519,35.519,0,0,0,1653.744,2266.544Zm23.646,44.915a14.153,14.153,0,0,1-14.138,14.137H1644.46a14.153,14.153,0,0,1-14.137-14.137v-18.792a14.153,14.153,0,0,1,14.137-14.138h18.792a14.154,14.154,0,0,1,14.138,14.138Z' fill='#fff')
      a(href="#" target="_blank").social__item
        svg(xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 71.038 71.038')
          g#Group_607(data-name='Group 607' transform='translate(-1715.838 -2266.544)')
            path#Path_384(data-name='Path 384' d='M1748.1,2295.926c-.433-.247-.835.066-.835.565v11.225c0,.493.39.807.823.572l9.971-5.469a.653.653,0,0,0,.081-1.137Z' fill='#fff')
            path#Path_385(data-name='Path 385' d='M1751.357,2266.544a35.519,35.519,0,1,0,35.519,35.519A35.519,35.519,0,0,0,1751.357,2266.544Zm22.475,41.544a9.64,9.64,0,0,1-9.64,9.639h-25a9.64,9.64,0,0,1-9.639-9.639v-11.717a9.64,9.64,0,0,1,9.639-9.64h25a9.64,9.64,0,0,1,9.64,9.64Z' fill='#fff')
    .flex.align-middle.align-right.social__wrap
      a(href="mailto:hello@nakanojo.com").font.font--semibold.font--white.font--xlg hello@nakanojo.com
