.q-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 14;
  background-color: #0c1023;
  background-image: url('../img/bg/bg.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;

  &__newsletter,
  &__agree {
    @include flex;

    text-align: left;
  }

  &__show-password {
    position: absolute;
    top: 15px;
    right: 10px;
    opacity: 0.5;

    &--active {
      opacity: 1;
    }
  }

  &__agree {
    align-items: flex-start;
    margin-bottom: 10px;
  }

  &__newsletter {
    align-items: center;
    margin-bottom: 30px;
  }

  &__close {
    @include size(64px);

    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 50%;
    background-color: #8c8e97;

    svg {
      position: absolute;
      bottom: 10px;
      left: 12px;
    }

    &--active {
      background-color: darken(#8c8e97, 10%);
    }
  }

  &__wrapper {
    @include flex(center, stretch, column);

    padding: 20px 10px 10px;
    height: 100%;
    overflow: auto;
  }

  &__logo {
    @include flex(center, center, column);

    > * {
      margin: 10px 0;
    }
  }

  &__title {
    margin-top: 50px;
    text-align: center;
    color: #fff;
    font-size: 20px;
  }

  &__body {
    @include flex(center, center, column);

    flex-grow: 1;
    padding-bottom: 20px;
  }

  &__footer {
    padding-bottom: 50px;
    text-align: center;
  }

  &__action {
    @include flex(center, center);

    margin-top: 20px;
  }

  &__btn {
    @include reset-button;

    flex: 1;
    margin: 0 5px;
    border-radius: 2px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    height: 44px;

    > * {
      color: #fff;
    }

    &--outline {
      border: 1px solid $blue;
    }

    &--blue {
      background-color: $blue;
    }
  }

  &__help {
    margin-top: 32px;
    text-align: center;
  }

  &__text {
    color: #fff;

    &--10 {
      font-size: 10px;
    }

    &--alpha {
      color: rgba(#fff, 0.5);
    }
  }

  &__link {
    margin: 0 5px;
    color: $blue;
  }

  &__field {
    @include placeholder(rgba(#fff, 0.5), $font-size: 13px);
    @include size(100%, 40px);

    -moz-appearance: textfield;
    margin-bottom: 5px;
    border: 0;
    border-bottom: 1px solid #b5b7c6;
    background-color: transparent;
    padding-right: 35px;
    color: #fff;
  }

  &__wrap {
    position: relative;
    margin-bottom: 40px;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__fingerprint {
    @include flex(space-between, center);

    width: 100%;
  }

  &__checkbox {
    @include size(16px);

    position: relative;
    margin-right: 10px;
    color: #696a76;

    &::before {
      @include size(16px);

      position: absolute;
      top: 0;
      border: 1px solid #b5b7c6;
      border-radius: 2px;
      background: transparent;
      content: '';
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      font-size: 16px;
      font-weight: 700;
      content: '\2713';
    }

    &:checked {

      &::before {
        background-color: $blue;
      }

      &::after {
        opacity: 1;
        color: #fff;
      }
    }

    &:focus {
      outline: 0;
      border: 0;
    }
  }

  &__password {
    @include flex(center, center);

    .q-popup {

      &__field {
        margin: 0 10px;
        padding-right: 0;
        text-align: center;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__toggle {
    @include size(20px, 12px);

    position: relative;
    margin-left: 20px;
    border-radius: 2px;
    overflow: hidden;

    &-bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #b5b7c6;
    }

    &-swipe {
      position: absolute;
      top: 1px;
      bottom: 1px;
      left: 1px;
      transition: $default-transition;
      z-index: 1;
      border-radius: 1px;
      background-color: #fff;
      width: 10px;
    }

    &-input {
      @include size(0);

      opacity: 0;

      &:checked + .q-popup__toggle {

        &-swipe {
          transform: translateX(7px);
        }
      }

      &:checked ~ .q-popup__toggle {

        &-bg {
          background-color: $blue;
        }
      }
    }
  }

  &--active {
    display: block;
  }
}
