mixin q-popup-help
  .q-popup__help
    p.q-popup__text Need some help?
      a(href="#").q-popup__link Support

mixin q-popup-agree
  .q-popup__agree
    input(type="checkbox" id="years").q-popup__checkbox
    label(for="years").q-popup__text I am 18 years old. I agree to the
      a(href="#").q-popup__link terms
      | and
      a(href="#").q-popup__text conditions
      | of the site

mixin q-popup-newsletter
  .q-popup__newsletter
    input(type="checkbox" id="newsletter").q-popup__checkbox
    label(for="newsletter").q-popup__text I agree to the newsletter

mixin q-popup-title(text)
  .q-popup__title= text


mixin q-popup-close
  .q-popup__close
    svg(width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(fill-rule='evenodd' clip-rule='evenodd' d='M4.84327 11.9143L4.08566 11.1567L7.24239 7.99999L4.08566 4.84327L4.84327 4.08565L8 7.24238L11.1567 4.08565L11.9143 4.84327L8.75761 7.99999L11.9143 11.1567L11.1567 11.9143L8 8.75761L4.84327 11.9143Z' fill='#ffffff')

mixin q-popup-show-password
  a.q-popup__show-password
    svg(width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg')
      g
        path(fill-rule='evenodd' clip-rule='evenodd' d='M8.00002 0C12.3026 0 15.7377 3.74678 15.8805 3.90609C16.0398 4.08416 16.0398 4.35334 15.8805 4.53141C15.7377 4.69072 12.3025 8.4375 8.00002 8.4375C3.69752 8.4375 0.262328 4.69072 0.119484 4.53141C-0.0398281 4.35334 -0.0398281 4.08416 0.119484 3.90609C0.262328 3.74678 3.69745 0 8.00002 0ZM4.71877 4.21875C4.71877 6.02784 6.19092 7.5 8.00002 7.5C9.80911 7.5 11.2813 6.02784 11.2813 4.21875C11.2813 2.40966 9.80911 0.9375 8.00002 0.9375C6.19092 0.9375 4.71877 2.40966 4.71877 4.21875Z' fill='#fff')
        path(d='M8.46875 3.28125C8.46875 2.80969 8.70284 2.39484 9.05897 2.13969C8.73941 1.97609 8.38297 1.875 8 1.875C6.70772 1.875 5.65625 2.92647 5.65625 4.21875C5.65625 5.51103 6.70772 6.5625 8 6.5625C9.157 6.5625 10.1146 5.71769 10.3038 4.61381C9.35987 4.91772 8.46875 4.20381 8.46875 3.28125Z' fill='#fff')



mixin q-popup-1
  .q-popup&attributes(attributes)
    +q-popup-close
    .q-popup__wrapper

      .q-popup__body
        .q-popup__logo
          img(src="/img/logo/logo_placeholder.svg")
          img(src="/img/logo/logo_text.svg")

      .q-popup__footer
        .q-popup__action
          button.q-popup__btn.q-popup__btn--outline
            span Log In
          button.q-popup__btn.q-popup__btn--blue
            span Register
        +q-popup-help


mixin q-popup-2
  .q-popup&attributes(attributes)
    +q-popup-close
    .q-popup__wrapper
      +q-popup-title('Registration')

      .q-popup__body
        .q-popup__wrap
          input(type="email" placeholder="E-mail*").q-popup__field
        .q-popup__wrap
          input(type="password" placeholder="Password*").q-popup__field
          +q-popup-show-password
          p.q-popup__text.q-popup__text--10.q-popup__text--alpha Password must be at least 6 characters long. A strong password must contain uppercase and lowercase letters, numbers and symbols

      .q-popup__footer
        +q-popup-agree
        +q-popup-newsletter
        .q-popup__action
          button.q-popup__btn.q-popup__btn--blue
            span Registration
        +q-popup-help


mixin q-popup-3
  .q-popup&attributes(attributes)
    +q-popup-close
    .q-popup__wrapper
      +q-popup-title('Create a password')

      .q-popup__body
        .q-popup__wrap
          .q-popup__password
            input(type="number").q-popup__field
            input(type="number").q-popup__field
            input(type="number").q-popup__field
            input(type="number").q-popup__field

        .q-popup__fingerprint
           p.q-popup__text Use fingerprint
           label.q-popup__toggle
             input(type="checkbox" id="fingerprint").q-popup__toggle-input
             span.q-popup__toggle-swipe
             span.q-popup__toggle-bg


mixin q-popup-4
  .q-popup&attributes(attributes)
    +q-popup-close
    .q-popup__wrapper
      +q-popup-title('Log In')

      .q-popup__body
        .q-popup__wrap
          input(type="email" placeholder="E-mail*").q-popup__field
        .q-popup__wrap
          .relative
            input(type="password" placeholder="Password*").q-popup__field
            +q-popup-show-password

      .q-popup__footer
        a(href="#").q-popup__link Forgot your login password?
        .q-popup__action
          button.q-popup__btn.q-popup__btn--blue
            span Log In
        +q-popup-help
