mixin h-search(condition)
  .h-search&attributes(attributes)
    +h-search-form

    if(condition)
      +h-search-result

mixin h-search-form
  .h-search__form&attributes(attributes)

    .h-search__icon
      svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(opacity='0.5' fill-rule='evenodd' clip-rule='evenodd' d='M6.69194 1.68474C9.41901 1.68474 11.6376 3.82665 11.6376 6.45952C11.6376 9.09239 9.41901 11.2343 6.69194 11.2343C3.96487 11.2343 1.74632 9.09239 1.74632 6.45952C1.74632 3.82665 3.96487 1.68474 6.69194 1.68474ZM15.7567 14.5735L11.8125 10.6129C12.8266 9.44901 13.3823 7.98455 13.3823 6.45999C13.3823 2.89801 10.3806 0 6.69113 0C3.0017 0 0 2.89801 0 6.45999C0 10.022 3.0017 12.92 6.69113 12.92C8.07619 12.92 9.39609 12.5167 10.5246 11.751L14.4988 15.7416C14.6649 15.9082 14.8883 16 15.1278 16C15.3544 16 15.5694 15.9166 15.7326 15.7649C16.0794 15.4428 16.0904 14.9085 15.7567 14.5735Z' fill='white')

    input(type="text" placeholder="Search").h-search__field

    .h-search__reset
      svg(width='10' height='10' viewbox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
        g(opacity='0.5')
          rect(x='0.220337' y='9.04303' width='12.7666' height='1.06389' transform='rotate(-45 0.220337 9.04303)' fill='white')
          rect(x='0.752197' width='12.7666' height='1.06389' transform='rotate(45 0.752197 0)' fill='white')


mixin h-search-result
  .h-search__result&attributes(attributes)
    .h-search__history
      .h-search__item
        p.h-search__category Search history
      - var n = 0
      while (n < 2)
        a(href="#").h-search__link
          .h-search__img(data=n++)
            svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M8.41688 9.97995L6.24475 9.38906L5.64154 7.17975L7.20899 5.60189L9.39242 6.20119L9.98776 8.39863L8.41688 9.97995ZM14.9338 6.9157L13.1615 8.70026L10.9225 8.09107L10.3414 5.94505L11.9536 4.3217L14.4077 4.99566L14.666 4.04133L12.2075 3.36637L11.5577 0.968673L10.6101 1.22877L11.259 3.62301L9.64686 5.24587L7.46295 4.64607L6.88823 2.52527L8.70227 0.699185L8.0077 0L6.19366 1.82609L3.73958 1.15212L3.4812 2.10646L5.93922 2.78092L6.51393 4.9027L4.88852 6.53941L2.79204 5.96928L2.11269 3.48257L1.16515 3.74465L1.81797 6.13345L0 7.96399L0.69457 8.66317L2.44671 6.89938L4.71463 7.51649L5.28394 9.60069L3.64379 11.2517L1.22901 10.5951L0.973086 11.5499L3.42226 12.216L4.09325 14.671L5.0403 14.4089L4.36243 11.9272L5.94658 10.332L8.10545 10.9195L8.70865 13.1461L6.93686 14.9296L7.63143 15.6288L9.44056 13.8077L11.9005 14.4767L12.1569 13.5224L9.64343 12.8385L9.06969 10.7212L10.7197 9.06023L12.85 9.63976L13.5284 12.1433L14.4759 11.8827L13.8148 9.44147L15.6288 7.61538L14.9338 6.9157Z', fill='#328028')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M0.976801 7.81392C0.976801 7.22442 1.05299 6.63004 1.20977 6.04493C1.84225 3.68498 3.68498 1.84225 6.04493 1.20977C6.62955 1.05299 7.22442 0.976801 7.81392 0.976801C9.60391 0.976801 11.3504 1.6801 12.6496 2.97973C13.9487 4.27888 14.652 6.02491 14.652 7.8149C14.652 8.40488 14.5758 8.99927 14.419 9.58437C13.7871 11.9438 11.9438 13.7871 9.58388 14.419C8.99927 14.5758 8.40488 14.652 7.8149 14.652C6.02491 14.652 4.27888 13.9487 2.97973 12.6496C1.6801 11.3504 0.976801 9.60391 0.976801 7.81392ZM9.83687 15.3626C12.5338 14.6398 14.6398 12.5338 15.3626 9.83687C15.5414 9.16874 15.6288 8.48889 15.6288 7.8149C15.6293 5.76947 14.8249 3.77387 13.3402 2.28864C11.8554 0.803907 9.85934 0 7.81392 0C7.13993 0 6.46007 0.0874237 5.79194 0.266178C3.09499 0.989011 0.989011 3.09548 0.266178 5.79194C0.0874237 6.46007 0 7.13993 0 7.81392C0 9.85934 0.803907 11.8554 2.28864 13.3402C3.77338 14.8249 5.76947 15.6293 7.8149 15.6288C8.48889 15.6288 9.16874 15.5419 9.83687 15.3626Z', fill='#328028')

          p.h-search__text Dynamo VS Parma

      .h-search__item
        p.h-search__category Top queries

      - var n = 0
      while (n < 15)
        a(href="#").h-search__link
          .h-search__img(data=n++)
            svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
              rect(x='0.5', y='0.5', width='15', height='15', rx='0.5', stroke='#FFD666')
              rect(x='2', y='8', width='11', height='1', fill='#FFD666')
              rect(x='2', y='10', width='6', height='1', fill='#FFD666')
              rect(x='2', y='12', width='10', height='1', fill='#FFD666')
              rect(x='2', y='2', width='4', height='4', fill='#FFD666')

          p.h-search__text Dynamo go to the final
