include ../../partials/form/_index

mixin section-contact
  section.section&attributes(attributes)
    .container
      .flex.align-middle
        .cell
          +logo-big.logo--big
        .cell
          +form
