---
title: Title
lang: en
hasLink: false
---
extends ./layouts/_layout

include ./layouts/header/_index
include ./layouts/footer/_index
include ./layouts/aside/_index

block content
  +header('click & collect', 1).header--image
  +aside
  main.main
  +footer
