---
title: Title
lang: en
hasLink: false
---
extends ./layouts/_layout

include ./layouts/header/_index
include ./layouts/footer/_index
include ./layouts/aside/_index
include ./layouts/section-story/_index
block content
  +header('location', 2).header--shadow(style="background-image: url(./img/header/header.png)")
  +aside
  main.main
  +footer
