include ../../partials/social/_index

mixin footer
  footer.footer&attributes(attributes)
    -
      var items = [
        'Unit 3 Fen Place',
        'Farm East Street',
        'Turners Hill',
        'West Sussex',
        'RH10 4QA'
      ]

    .container
      .flex
        .footer__cell
          +logo-dark
        .footer__cell
          ul.list
            li.list__item
              h5.h5.h5--medium.h5--white London

            each item in items
              li.list__item
                a.font.link= item
        .footer__cell
          ul.list
            li.list__item
              h5.h5.h5--medium.h5--white New York

            each item in items
              li.list__item
                a.font.link= item
        .footer__cell
          ul.list
            li.list__item
              h5.h5.h5--medium.h5--white Georgia

            each item in items
              li.list__item
                a.font.link= item
        .footer__cell
          +social
