.footer {
  background-color: $primary;
  padding: fvh(90) 0;
  width: 100%;

  .link {
    display: block;

    &--active,
    &:hover {
      transform: translateX(10px);
      color: #fff;
    }
  }

  &__cell {
    flex: 2;

    &:last-child {
      flex: 6;
    }
  }

  &--white {
    background-color: #fff;   //if it needed
  }
}
