include ../cb-account/_index
include ../cb-navbar/_index

mixin cb-aside
  .cb-aside&attributes(attributes)
    .cb-aside__head
      //+cb-account-1
      +cb-account-2
    .cb-aside__body
      +cb-navbar
