mixin ips-table
  .ips-table&attributes(attributes)

    .ips-table__row
      .ips-table__cell.ips-table__cell--border
        p.ips-table__time 15:15

        a.ips-table__favourite.ips-table__favourite--active
          svg(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M7.23267 10.5978L7 10.4755L6.76733 10.5978L3.33783 12.4008L3.9928 8.58198L4.03724 8.3229L3.84901 8.13941L1.07448 5.43492L4.90878 4.87776L5.16891 4.83996L5.28525 4.60424L7 1.12978L8.71475 4.60424L8.83109 4.83996L9.09122 4.87776L12.9255 5.43492L10.151 8.13941L9.96276 8.3229L10.0072 8.58198L10.6622 12.4008L7.23267 10.5978Z' stroke='#545762')
        a.ips-table__stream.ips-table__stream--active
          svg(width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M2 0C0.895431 0 0 0.895431 0 2V9C0 10.1046 0.89543 11 2 11H13C14.1046 11 15 10.1046 15 9V2C15 0.895431 14.1046 0 13 0H2ZM10.1595 5.271L5.80469 3.2085V7.3335L10.1595 5.271Z' fill='#383A4A')

      .ips-table__cell
        p.ips-table__text England - Premier League
        p.ips-table__text.ips-table__text--ellipsis Ballspielverein Borussia 1909
        p.ips-table__text.ips-table__text--ellipsis Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi ipsum laboriosam magnam mollitia quia? A architecto, aut maxime nihil odit officia provident? Cum eaque ipsum laborum molestiae nesciunt repellat saepe?

    - var n = 0
    while n < 15
      .ips-table__row(data=n++)
        .ips-table__cell.ips-table__cell--border
          p.ips-table__time 15:15

          a.ips-table__favourite
            svg(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M7.23267 10.5978L7 10.4755L6.76733 10.5978L3.33783 12.4008L3.9928 8.58198L4.03724 8.3229L3.84901 8.13941L1.07448 5.43492L4.90878 4.87776L5.16891 4.83996L5.28525 4.60424L7 1.12978L8.71475 4.60424L8.83109 4.83996L9.09122 4.87776L12.9255 5.43492L10.151 8.13941L9.96276 8.3229L10.0072 8.58198L10.6622 12.4008L7.23267 10.5978Z' stroke='#545762')
          a.ips-table__stream
            svg(width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M2 0C0.895431 0 0 0.895431 0 2V9C0 10.1046 0.89543 11 2 11H13C14.1046 11 15 10.1046 15 9V2C15 0.895431 14.1046 0 13 0H2ZM10.1595 5.271L5.80469 3.2085V7.3335L10.1595 5.271Z' fill='#383A4A')

        .ips-table__cell
          p.ips-table__text England - Premier League
          p.ips-table__text.ips-table__text--ellipsis Ballspielverein Borussia 1909
          p.ips-table__text.ips-table__text--ellipsis Ballspielverein Borussia 1909
