.ip-competition {
  background-color: #f1f3f7;
  padding: 0 5px;
  width: 100%;

  &__market,
  &__coff {
    @include ellipsis;
  }

  &__header {
    @include size(100%, 40px);
    @include flex($align-items: center);
  }

  &__flag {
    @include size(26px, 17px);

    flex-shrink: 0;
    margin-right: 10px;

    > * {
      @include size(100%);

      object-fit: cover;
      display: block;
    }
  }

  &__favourite {
    @include size(14px);

    flex-shrink: 0;
    margin-left: 5px;
    margin-right: 10px;

    &--active {

      svg {

        path {
          fill: $gold;
          stroke: $gold;
        }
      }
    }
  }

  &__league {
    @include ellipsis;

    color: #232737;
    font-weight: 700;
  }

  &__item {
    @include flex($direction: column);
    @include size(100%, 106px);

    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    padding: 10px;
  }

  &__row {
    @include flex(center, center);

    &:first-child {
      flex-grow: 1;
    }
  }

  &__btn {
    @include reset-button;

    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 0 10px;
    height: 38px;
    overflow: hidden;

    > * {
      margin: 2px;
      line-height: 1;
      white-space: nowrap;
    }

    &--market {
      flex: unset;
      margin-left: 10px;
      border: 1px solid $blue;
      border-radius: 2px;
      background-color: #f6f8ff;
      padding: 0 10px;

      > * {
        color: $blue;
        font-weight: 700;
      }
    }

    &--disabled {
      position: relative;
      pointer-events: none;
    }
  }

  &__info {
    @include flex(center, center);

    flex-grow: 1;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

    > .ip-competition {

      &__btn {
        border-right: 1px solid rgba(#dfdfdf, 0.5);

        &:last-child {
          border-right: 0;
        }
      }
    }
  }

  &__coff {
    font-size: 12px;
  }

  &__market {
    color: #b5b7c6;
    font-size: 11px;
  }

  &__goal {
    margin-right: 0;
    margin-left: auto;
    border: 1px solid $gold;
    border-radius: 1px;
    box-shadow: 0 2px 4px rgba($gold, 0.4);
    background-color: rgba($gold, 0.5);
    padding: 1px 2px;
    line-height: 1;
    font-size: 11px;
  }

  &__period {
    margin: 2px 0;
  }

  &__details {
    @include flex(center, center);

    flex-grow: 1;
    height: 100%;
    overflow: hidden;
  }

  &__wrap {
    @include flex($align-items: center);

    margin: 2px 0;
  }

  &__score {
    color: $red;
    font-weight: 700;
  }

  &__divider {
    @include size(1px, 28px);

    margin: 0 10px;
    background-color: rgba(#dfdfdf, 0.5);
  }

  &__additional {
    @include flex(center, flex-start, column);
    @include size(80px, 100%);

    flex-shrink: 0;
  }

  &__action {
    @include flex(space-between, center);

    margin: 2px 0;
    width: 100%;
  }

  &__block {
    overflow: hidden;

    &--lg {
      flex-grow: 1;
    }

    &--sm {
      flex-shrink: 0;
      margin-left: 10px;
      max-width: 30%;
      text-align: right;
    }
  }

  &__team {
    @include ellipsis;
  }

  &__drop {
    position: relative;
    z-index: 2;
    margin-right: 0;
    margin-left: auto;

    &--active {

      .ip-competition {

        &__drop {

          &-toggle {

            &::after {
              transform: translateY(-50%) rotate(180deg);
            }
          }

          &-menu {
            display: block;
          }
        }
      }
    }

    &-toggle {
      position: relative;
      flex-shrink: 0;
      padding-right: 10px;
      white-space: nowrap;
      color: #b5b7c6;
      font-size: 12px;

      &::after {
        @include flex(center, center);

        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        transition: $default-transition;
        height: 8px;
        content: url("data:image/svg+xml;utf8,<svg width='5' height='8' viewBox='0 0 5 4' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M2.5 4L5 0H0L2.5 4Z' fill='%23B5B7C6'/></svg>");
      }
    }

    &-menu {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 2;
      background-color: #f1f3f7;
      min-width: 150px;
    }

    &-item {
      @include flex($align-items: center);

      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 5px 10px;
      font-size: 11px;

      &:last-child {
        border-bottom: 0;
      }

      &--active {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
