.ip-classification-bar {
  margin-bottom: 10px;
  overflow: hidden;

  &__wrap {
    @include flex($align-items: center);
    @include size(100%, 50px);

    padding: 0 10px;
  }

  &__item {
    @include flex(center, center, column);
    @include size(90px, 100%);

    flex-shrink: 0;
    margin-right: 5px;
    border-radius: 2px;
    box-shadow: 0 0 6px rgba(56, 71, 89, 0.2);
    background-color: #2f3346;

    &--active {

      .ip-classification-bar {

        &__text {
          color: $gold;
        }

        &__icon {

          svg {

            g,
            rect,
            path {
              opacity: 1;
              fill: $gold;
            }
          }

          i {
            opacity: 1;
            color: $gold;
          }
        }
      }
    }
  }

  &__block {
    @include flex(center);

    padding: 2px;
    height: 50%;

    &:first-child {
      align-items: flex-end;
    }

    &:last-child {
      align-items: flex-start;
    }
  }

  &__text {
    color: #8c8e97;
  }

  &__icon {
    @include size(16px);

    overflow: hidden;

    svg {

      g,
      rect,
      path {
        transition: $default-transition;
        opacity: 0.5;
      }
    }
  }
}
