mixin ip-classification-bar
  .ip-classification-bar&attributes(attributes)
    .ip-classification-bar__wrap
      .ip-classification-bar__item
        .ip-classification-bar__block
          p.ip-classification-bar__text All
        .ip-classification-bar__block
          p.ip-classification-bar__text Sports

      - var n = 0;
      while n < 15
        .ip-classification-bar__item(data=n++ class=(n == 1 && 'ip-classification-bar__item--active'))
          .ip-classification-bar__block
            .ip-classification-bar__icon
              svg(width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M9.41112 0.131688C11.5063 0.515188 13.3267 1.69169 14.5371 3.4445C15.7474 5.19719 16.2027 7.31637 15.8191 9.41162C15.1254 13.2011 11.8305 15.9514 7.98444 15.9514H7.98381C7.50237 15.9513 7.01631 15.907 6.53925 15.8197C2.21406 15.0279 -0.660627 10.8649 0.131185 6.53975C0.824873 2.75038 4.12012 0 7.9665 0C8.44781 0 8.93387 0.0443125 9.41112 0.131688ZM1.59156 4.72544C1.28375 5.33106 1.058 5.98894 0.930373 6.68606C0.48856 9.09956 1.31819 11.4565 2.94131 13.0663C3.15381 12.3612 3.28219 11.6267 3.32125 10.8746C3.37749 9.79065 2.96341 8.80963 2.525 7.77098L2.52475 7.77038C2.14394 6.86819 1.72656 5.87919 1.59156 4.72544ZM7.98387 15.1389C7.55131 15.1389 7.1145 15.099 6.68556 15.0205C5.52575 14.8082 4.48219 14.3258 3.60762 13.6504C3.907 12.7771 4.08369 11.8591 4.13262 10.9167C4.19856 9.64638 3.72819 8.53206 3.27325 7.45444C2.77137 6.26556 2.25325 5.03706 2.37825 3.50419C3.69987 1.84913 5.72919 0.8125 7.96644 0.8125C8.39875 0.8125 8.83562 0.852313 9.26475 0.930875C11.1465 1.27538 12.7814 2.332 13.8684 3.90613C14.0402 4.15488 14.1949 4.41194 14.3326 4.67575C14.3349 5.5335 13.0666 6.30425 12.1794 6.563C8.072 7.761 7.14006 10.3839 7.08156 12.3733C7.052 13.3711 7.46575 14.3964 7.99844 15.1386L7.98387 15.1389ZM8.99387 15.0674C12.001 14.6402 14.4586 12.3318 15.02 9.26531C15.2388 8.06981 15.1531 6.86588 14.7831 5.74294C14.6918 5.88225 14.5846 6.01881 14.4617 6.14981C13.9603 6.68463 13.2497 7.09725 12.4069 7.34306C9.48587 8.19506 7.96737 9.89556 7.89381 12.3973C7.86394 13.4062 8.41756 14.4841 8.99387 15.0674Z' fill='white')
          .ip-classification-bar__block
            p.ip-classification-bar__text Favourites
