.h-toggle {
  @include flex(space-around, flex-start, column);

  position: relative;
  flex-shrink: 0;
  transition: $default-transition;
  width: 18px;
  overflow: hidden;

  &__item {
    @include size(100%, 2px);

    transition: $default-transition;
    margin: 2px 0;
    background-color: $gold;

    &:nth-child(2) {
      width: 10px;
    }
  }

  &--active {
    justify-content: center;

    .h-toggle {

      &__item {
        background-color: #fff;

        &:nth-child(1) {
          transform: translateY(6px) rotate(45deg);
        }

        &:nth-child(2) {
          transform: translateX(-20px);
        }

        &:nth-child(3) {
          transform: translateY(-6px) rotate(-45deg);
        }
      }
    }
  }
}
