* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  min-width: 320px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 15px;
  color: #232737;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 400;
}

main {
  padding-top: 60px;
}
