body {
  position: relative;
  min-width: 320px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1;
  font-family: Montserrat, sans-serif;
  font-size: 1.04vw;
  font-weight: 400;
}

.section {
  @include size(100%, 100vh);

  background-color: $secondary;

  &--white {
    background-color: #fff;   //if it needed
  }
}

.container {
  @include mvw(1665);

  margin: 0 auto;
}
