mixin logo
  a.logo&attributes(attributes)
    svg(xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 113.414 79.61')
      g#Group_120(data-name='Group 120' transform='translate(-109.02 -902.817)')
        g#Group_118(data-name='Group 118')
          circle#Ellipse_66(data-name='Ellipse 66' cx='12.368' cy='12.368' r='12.368' transform='translate(197.697 957.69)' fill='#ff2f00')
        g#Group_119(data-name='Group 119')
          path#Path_125(data-name='Path 125' d='M153.725,902.817a32.02,32.02,0,0,1,13.517,2.67A27.8,27.8,0,0,1,176.9,912.7a30.116,30.116,0,0,1,5.793,10.693,44.316,44.316,0,0,1,1.931,13.294v45.745H161.9V939.059q0-8.619-2.893-13.517t-11.51-4.9a15.6,15.6,0,0,0-5.124.962,17.979,17.979,0,0,0-5.053,2.747,15.693,15.693,0,0,0-3.862,4.384,11.473,11.473,0,0,0-1.561,6.016v47.676H109.02V903.856h9.208l7.578,11.439h.592a41.281,41.281,0,0,1,11.956-8.916A33.573,33.573,0,0,1,153.725,902.817Z' fill='#fff')


mixin logo-dark
  a.logo&attributes(attributes)
    svg(xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 113.414 79.61')
      g#Group_120(data-name='Group 120' transform='translate(-109.02 -902.817)')
        g#Group_118(data-name='Group 118')
          circle#Ellipse_66(data-name='Ellipse 66' cx='12.368' cy='12.368' r='12.368' transform='translate(197.697 957.69)' fill='#231F1F')
        g#Group_119(data-name='Group 119')
          path#Path_125(data-name='Path 125' d='M153.725,902.817a32.02,32.02,0,0,1,13.517,2.67A27.8,27.8,0,0,1,176.9,912.7a30.116,30.116,0,0,1,5.793,10.693,44.316,44.316,0,0,1,1.931,13.294v45.745H161.9V939.059q0-8.619-2.893-13.517t-11.51-4.9a15.6,15.6,0,0,0-5.124.962,17.979,17.979,0,0,0-5.053,2.747,15.693,15.693,0,0,0-3.862,4.384,11.473,11.473,0,0,0-1.561,6.016v47.676H109.02V903.856h9.208l7.578,11.439h.592a41.281,41.281,0,0,1,11.956-8.916A33.573,33.573,0,0,1,153.725,902.817Z' fill='#fff')
