mixin betslip-keyboard-big
  .betslip__keyboard&attributes(attributes)
    .betslip__row
      .betslip__key 1
      .betslip__key 2
      .betslip__key 3
    .betslip__row
      .betslip__key 4
      .betslip__key 5
      .betslip__key 6
    .betslip__row
      .betslip__key 7
      .betslip__key 8
      .betslip__key 9
    .betslip__row.betslip__row--lg
      .betslip__key .
      .betslip__key 0
      .betslip__key
        svg(width='26' height='17' viewbox='0 0 26 17' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(opacity='0.8' d='M6.98539 1.21962C7.22259 0.92281 7.58192 0.75 7.96187 0.75H24C24.6904 0.75 25.25 1.30964 25.25 2V15C25.25 15.6904 24.6904 16.25 24 16.25H7.9253C7.55844 16.25 7.2101 16.0888 6.9726 15.8092L1.6385 9.52946C1.25123 9.07354 1.24126 8.40715 1.61472 7.93985L6.98539 1.21962L6.3995 0.751391L6.98539 1.21962Z' stroke='#383A4A' stroke-width='1.5')
          rect(opacity='0.8' x='16.8684' y='5.19727' width='1' height='8.72727' rx='0.363636' transform='rotate(45 16.8684 5.19727)' fill='#383A4A')
          rect(opacity='0.8' width='1' height='8.72727' rx='0.363636' transform='matrix(-0.707107 0.707107 0.707107 0.707107 11.4044 5.19727)' fill='#383A4A')

mixin betslip-keyboard-small
  .betslip__keyboard&attributes(attributes)
    .betslip__row
      .betslip__key 1
      .betslip__key 2
      .betslip__key 3
      .betslip__key 4
      .betslip__key 5
      .betslip__key 6
      .betslip__key 7
      .betslip__key 8
      .betslip__key 9
      .betslip__key 0
    .betslip__row
      .betslip__key .
      .betslip__key
        svg(width='26' height='17' viewbox='0 0 26 17' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(opacity='0.8' d='M6.98539 1.21962C7.22259 0.92281 7.58192 0.75 7.96187 0.75H24C24.6904 0.75 25.25 1.30964 25.25 2V15C25.25 15.6904 24.6904 16.25 24 16.25H7.9253C7.55844 16.25 7.2101 16.0888 6.9726 15.8092L1.6385 9.52946C1.25123 9.07354 1.24126 8.40715 1.61472 7.93985L6.98539 1.21962L6.3995 0.751391L6.98539 1.21962Z' stroke='#383A4A' stroke-width='1.5')
          rect(opacity='0.8' x='16.8684' y='5.19727' width='1' height='8.72727' rx='0.363636' transform='rotate(45 16.8684 5.19727)' fill='#383A4A')
          rect(opacity='0.8' width='1' height='8.72727' rx='0.363636' transform='matrix(-0.707107 0.707107 0.707107 0.707107 11.4044 5.19727)' fill='#383A4A')
      .betslip__key.betslip__key--done Done


mixin betslip
  .betslip&attributes(attributes)
    .betslip__shadow
    .betslip__wrapper
      .betslip__header
        a.betslip__remove Remove all
        a.betslip__edit Edit
        a.betslip__ok Ok
      .betslip__body

        .betslip__bets.betslip__bets--edit

          .betslip__bet.betslip__bet--down
            .betslip__block
              .betslip__close
                svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M4.84327 10.9854L4.08566 10.2278L7.24239 7.07107L4.08566 3.91434L4.84327 3.15673L8 6.31345L11.1567 3.15673L11.9143 3.91434L8.75761 7.07107L11.9143 10.2278L11.1567 10.9854L8 7.82868L4.84327 10.9854Z' fill='#384049')
              .betslip__wrap
                .betslip__cell
                  p.betslip__title Queen of South Reserves
                  p.betslip__market.betslip__market--blue Fulltime Result
                  p.betslip__teams Chennaiyin FC v Hyderabad FC
                .betslip__cell.betslip__cell--sm
                  p.betslip__odds 2.34
                  input(type="number" placeholder="Stake").betslip__field
              .betslip__bottom
                p.betslip__label Possible win:
                p.betslip__label 243.00 USD
            .betslip__drop
              .betslip__message
                p Minimum bet $ 10
              +betslip-keyboard-big.betslip__keyboard--lg

          .betslip__bet.betslip__bet--disabled
            .betslip__block
              .betslip__close
                svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M4.84327 10.9854L4.08566 10.2278L7.24239 7.07107L4.08566 3.91434L4.84327 3.15673L8 6.31345L11.1567 3.15673L11.9143 3.91434L8.75761 7.07107L11.9143 10.2278L11.1567 10.9854L8 7.82868L4.84327 10.9854Z' fill='#384049')
              .betslip__wrap
                .betslip__cell
                  p.betslip__title Queen of South Reserves
                  p.betslip__market.betslip__market--blue Fulltime Result
                  p.betslip__teams Chennaiyin FC v Hyderabad FC
                .betslip__cell.betslip__cell--sm
                  .betslip__lock
                    svg(width='10' height='11' viewbox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M2.35294 3.575C2.35294 2.2 3.52941 1.1 5 1.1C6.47059 1.1 7.64706 2.2 7.64706 3.575V4.95H2.35294V3.575ZM9.41177 4.95H8.82353V3.575C8.82353 1.595 7.11765 0 5 0C2.88235 0 1.17647 1.595 1.17647 3.575V4.95H0.588235C0.264706 4.95 0 5.1975 0 5.5V10.45C0 10.7525 0.264706 11 0.588235 11H9.41177C9.73529 11 10 10.7525 10 10.45V5.5C10 5.1975 9.73529 4.95 9.41177 4.95Z' fill='#6C90FC')
              .betslip__bottom
                p.betslip__label Possible win:
                p.betslip__label 243.00 USD
            .betslip__drop
              +betslip-keyboard-small.betslip__keyboard--sm

          .betslip__bet.betslip__bet--active.betslip__bet--down
            .betslip__block
              .betslip__close
                svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M4.84327 10.9854L4.08566 10.2278L7.24239 7.07107L4.08566 3.91434L4.84327 3.15673L8 6.31345L11.1567 3.15673L11.9143 3.91434L8.75761 7.07107L11.9143 10.2278L11.1567 10.9854L8 7.82868L4.84327 10.9854Z' fill='#384049')
              .betslip__wrap
                .betslip__cell.betslip__cell
                  p.betslip__title Queen of South Reserves
                  p.betslip__market.betslip__market--blue Fulltime Result
                  p.betslip__teams Chennaiyin FC v Hyderabad FC
                .betslip__cell.betslip__cell--sm
                  p.betslip__odds.betslip__odds--up 2.34
                  input(type="number" placeholder="Stake").betslip__field
              .betslip__bottom
                p.betslip__label Possible win:
                p.betslip__label 243.00 USD
            .betslip__drop
              +betslip-keyboard-small.betslip__keyboard--sm

          .betslip__bet
            .betslip__block
              .betslip__close
                svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M4.84327 10.9854L4.08566 10.2278L7.24239 7.07107L4.08566 3.91434L4.84327 3.15673L8 6.31345L11.1567 3.15673L11.9143 3.91434L8.75761 7.07107L11.9143 10.2278L11.1567 10.9854L8 7.82868L4.84327 10.9854Z' fill='#384049')
              .betslip__wrap
                .betslip__cell.betslip__cell
                  p.betslip__title Queen of South Reserves
                  p.betslip__market.betslip__market--blue Fulltime Result
                  p.betslip__teams Chennaiyin FC v Hyderabad FC
                .betslip__cell.betslip__cell--sm
                  p.betslip__odds 2.34
                  input(type="number" placeholder="Stake").betslip__field
              .betslip__bottom
                p.betslip__label Possible win:
                p.betslip__label 243.00 USD
            .betslip__drop
              +betslip-keyboard-small

        .betslip__multiples.betslip__multiples--active
          .betslip__dropdown
            p Show all multiples
            .betslip__down
              svg(width='10' height='6' viewbox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M9 1L5 5L1 1' stroke='#9A9B9F')
          .betslip__drop
            .betslip__multiple.betslip__multiple--lg
              .betslip__wrap
                .betslip__cell
                  p.betslip__market Doubles
                .betslip__cell.betslip__cell--sm
                  p.betslip__odds 1.34
                  input(type="number" placeholder="Stake").betslip__field
              .betslip__bottom
                p.betslip__label Possible win:
                p.betslip__label 243.00 USD

            .betslip__multiple
              .betslip__wrap
                .betslip__cell
                  p.betslip__market Doubles
                .betslip__cell.betslip__cell--sm
                   p.betslip__odds.betslip__odds--down 1.34
                   input(type="number" placeholder="Stake").betslip__field

            .betslip__multiple.betslip__multiple--lg
              .betslip__wrap
                .betslip__cell
                  p.betslip__market Singles
                .betslip__cell.betslip__cell--sm
                  p.betslip__odds 21.34
                  input(type="number" placeholder="Stake").betslip__field
              .betslip__bottom
                p.betslip__label Possible win:
                p.betslip__label 243.00 USD

            .betslip__multiple
              .betslip__wrap
                .betslip__cell
                  p.betslip__market Trixie
                .betslip__cell.betslip__cell--sm
                  p.betslip__odds 21.34
                  input(type="number" placeholder="Stake").betslip__field

        .betslip__info
          .betslip__advance
            p.betslip__text.betslip__text--sm.betslip__text--grey Available advance
            p.betslip__text 100
          .betslip__balance
            p.betslip__text.betslip__text--sm.betslip__text--grey Total balance
            p.betslip__text.betslip__text--green 500.00 $

        .betslip__bonus
          div
            p.font Use bonuses
            .betslip__wrap
              p.betslip__text.betslip__text--sm Bonus account
              p.betslip__text.betslip__text--green 100
          input(type="checkbox" id="bonus").betslip__checkbox

        .betslip__remember-stake
          p.font Remember Stake
          label.betslip__toggle
            input(type="checkbox" id="stake").betslip__toggle-input
            span.betslip__toggle-swipe
            span.betslip__toggle-bg

        .betslip__bonus
          p.font Accept all odds changes
          input(type="checkbox" id="bonus").betslip__checkbox

        .betslip__notification.betslip__notification--warning
          p Where selections appear highlighted your multiple options are restricted.

        .betslip__footer
          button.betslip__placebet.betslip__placebet--disabled
            span Place bet
            span 0.00 USD
