mixin cb-navbar
  ul.cb-navbar&attributes(attributes)
    li.cb-navbar__item.cb-navbar__item--dropdown.cb-navbar__item--active
      a.cb-navbar__link My Account
      ul.cb-navbar
        li.cb-navbar__item
          a(href="/pages/cabinet/my-account/personal-information/index.html").cb-navbar__link.cb-navbar__link--active Personal Information
        li.cb-navbar__item
          a(href="/pages/cabinet/my-account/contact/index.html").cb-navbar__link Contact
        li.cb-navbar__item
          a(href="/pages/cabinet/my-account/account-verification/index.html").cb-navbar__link Account Verification
        li.cb-navbar__item
          a(href="/pages/cabinet/my-account/account-settings/index.html").cb-navbar__link Account Settings
        li.cb-navbar__item
          a(href="/pages/cabinet/my-account/change-password/index.html").cb-navbar__link Change Password
    li.cb-navbar__item.cb-navbar__item--dropdown
      a.cb-navbar__link History
      ul.cb-navbar
        li.cb-navbar__item
          a(href="/pages/cabinet/history/bet-history/index.html").cb-navbar__link Bet History
        li.cb-navbar__item
          a(href="/pages/cabinet/history/casino-games/index.html").cb-navbar__link Casino Games
        li.cb-navbar__item
          a(href="/pages/cabinet/history/live-casino-games/index.html").cb-navbar__link Live casino games
    li.cb-navbar__item.cb-navbar__item--dropdown.cb-navbar__item--active
      a.cb-navbar__link Balance
      ul.cb-navbar
        li.cb-navbar__item
          a(href="/pages/cabinet/balance/deposit/index.html").cb-navbar__link Deposit
        li.cb-navbar__item
          a(href="/pages/cabinet/balance/withdraw/index.html").cb-navbar__link Withdraw
        li.cb-navbar__item
          a(href="/pages/cabinet/balance/history/index.html").cb-navbar__link History
    li.cb-navbar__item.cb-navbar__item--dropdown.cb-navbar__item--active
      a.cb-navbar__link Offers
      ul.cb-navbar
        li.cb-navbar__item
          a(href="/pages/cabinet/offers/available/index.html").cb-navbar__link Available offers
        li.cb-navbar__item
          a(href="/pages/cabinet/offers/active/index.html").cb-navbar__link Active
        li.cb-navbar__item
          a(href="/pages/cabinet/offers/archive/index.html").cb-navbar__link Archive
        li.cb-navbar__item
          a(href="/pages/cabinet/offers/open/index.html").cb-navbar__link Open
    li.cb-navbar__item.cb-navbar__item--dropdown.cb-navbar__item--notification.cb-navbar__item--active
      .cb-navbar__notification
      a.cb-navbar__link Messages
      ul.cb-navbar
        li.cb-navbar__item
          a(href="/pages/cabinet/messages/inbox/index.html").cb-navbar__link Inbox
            span.cb-navbar__count 2
        li.cb-navbar__item
          a(href="/pages/cabinet/messages/send/index.html").cb-navbar__link Sent
        li.cb-navbar__item
          a(href="/pages/cabinet/messages/open/index.html").cb-navbar__link Open
    li.cb-navbar__item.cb-navbar__item--logout
      a.cb-navbar__link Log out
