include ../../partials/circle/_index


mixin section-careers
  section.section&attributes(attributes)
    .container
      .text-center
        +title('see where you fit in').title--xs
        p.font.font--white Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
      .wrapper
        +circle('administration').circle--458.circle--white
        +circle('service').circle--378
        +circle('kitchen').circle--314.circle--white
        +circle.circle--172
