include ../../layouts/header/h-search/_index

mixin ip-classification-header
  .ip-classification-header&attributes(attributes)
    .ip-classification-header__wrap

      .ip-classification-header__sports
        .ip-classification-header__icon
          svg(width='16', height='17', viewBox='0 0 16 17', fill='none', xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M15.2435 1.25721C13.7509 -0.235779 7.61682 0.327107 3.68813 4.31622C-0.187384 8.25144 -0.717894 14.2731 0.75649 15.7478C2.20954 17.2011 8.32615 16.7358 12.3119 12.6888C16.1874 8.75355 16.7179 2.73194 15.2435 1.25721ZM14.5781 1.92278C15.1078 2.45263 15.3291 4.54508 14.5509 7.08256C14.4494 6.98094 9.93309 2.46361 9.41958 1.94995C11.9528 1.17275 14.0478 1.39242 14.5781 1.92278ZM7.56402 14.708L5.01268 12.1561L6.27229 10.8962L6.70413 11.3281C6.88791 11.5119 7.18579 11.5119 7.36954 11.3281C7.55329 11.1443 7.55329 10.8463 7.36954 10.6625L6.9377 10.2306L8 9.16805L8.43185 9.59999C8.6156 9.7838 8.91348 9.78377 9.09726 9.59999C9.28101 9.41621 9.28101 9.1182 9.09726 8.93442L8.66542 8.50248L9.72772 7.43989L10.1596 7.87183C10.3433 8.05564 10.6412 8.05561 10.825 7.87183C11.0087 7.68805 11.0087 7.39004 10.825 7.20626L10.3931 6.77432L11.6526 5.51459L14.204 8.06659C12.9628 11.1783 10.6758 13.4664 7.56402 14.708ZM8.43577 2.29702L10.9872 4.84905L9.72772 6.10879L9.29588 5.67685C9.11213 5.49307 8.81422 5.49307 8.63047 5.67685C8.44672 5.86063 8.44672 6.15864 8.63047 6.34242L9.06231 6.77435L8 7.83694L7.56816 7.40501C7.38441 7.22123 7.0865 7.22123 6.90275 7.40501C6.719 7.58879 6.719 7.88679 6.90275 8.07057L7.33459 8.50251L6.27229 9.5651L5.84044 9.13316C5.65669 8.94938 5.35878 8.94938 5.17503 9.13316C4.99128 9.31694 4.99128 9.61495 5.17503 9.79873L5.60687 10.2307L4.34727 11.4906L1.79596 8.93859C3.03486 5.83324 5.31756 3.54122 8.43577 2.29702ZM1.4219 15.0822C0.89249 14.5526 0.670718 12.4608 1.44901 9.92265L6.58021 15.0551C4.03401 15.8362 1.9468 15.6072 1.4219 15.0822Z', fill='white')
        p.ip-classification-header__text.ip-classification-header__text--ellipsis Soccer

      .ip-classification-header__league.ip-classification-header__league--active
        .ip-classification-header__icon
          svg(width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M9.06068 16.5764C8.48183 17.1841 7.54432 17.1917 6.95665 16.5925C5.69646 15.3076 3.5935 12.9325 2.23889 10.1773C0.856363 7.36532 0.260543 4.17197 0.0200931 2.40567C-0.0868885 1.6198 0.427559 0.908217 1.20489 0.75077C2.7352 0.440809 5.37568 0 8.01617 0C10.6387 0 13.2612 0.434828 14.796 0.744422C15.5876 0.904084 16.1043 1.63634 15.9793 2.43409C15.7019 4.20474 15.0521 7.37627 13.6749 10.1773C12.3242 12.9246 10.2869 15.289 9.06068 16.5764ZM5.77408 10.7919L8.01617 9.59318L10.2583 10.7919L9.83006 8.25294L11.6439 6.45483L9.13722 6.0844L8.01617 3.77437L6.89513 6.0844L4.3884 6.45483L6.20228 8.25294L5.77408 10.7919Z' fill='white')
        p.ip-classification-header__text.ip-classification-header__text--12.ip-classification-header__text--ellipsis Select Leagues

      .ip-classification-header__streaming
        label(for="streaming").ip-classification-header__text.ip-classification-header__text--alpha-white.ip-classification-header__text--ellipsis Live Streaming
        label.ip-classification-header__toggle
          input(type="checkbox" id="streaming").ip-classification-header__toggle-input
          span.ip-classification-header__toggle-swipe
          span.ip-classification-header__toggle-bg

    .ip-classification-header__dropdown.ip-classification-header__dropdown--active
      .ip-classification-header__search
         +h-search
         .ip-classification-header__item
            input(type="checkbox" id="select-all").ip-classification-header__checkbox
            label(for="select-all").ip-classification-header__label Select All
      .ip-classification-header__list
        .ip-classification-header__item
          input(type="checkbox" id="select-all").ip-classification-header__checkbox
          label(for="select-all").ip-classification-header__label Premier League
        .ip-classification-header__item
          input(type="checkbox" id="select-all").ip-classification-header__checkbox
          label(for="select-all").ip-classification-header__label Major League Soccer
        .ip-classification-header__item
          input(type="checkbox" id="select-all").ip-classification-header__checkbox
          label(for="select-all").ip-classification-header__label Serie A
        .ip-classification-header__item
          input(type="checkbox" id="select-all").ip-classification-header__checkbox
          label(for="select-all").ip-classification-header__label English Carabao Cup
        .ip-classification-header__item
          input(type="checkbox" id="select-all").ip-classification-header__checkbox
          label(for="select-all").ip-classification-header__label French Ligue 1
        .ip-classification-header__item
          input(type="checkbox" id="select-all").ip-classification-header__checkbox
          label(for="select-all").ip-classification-header__label CONCACAF Nations League
        .ip-classification-header__item
          input(type="checkbox" id="select-all").ip-classification-header__checkbox
          label(for="select-all").ip-classification-header__label International
        .ip-classification-header__item
          input(type="checkbox" id="select-all").ip-classification-header__checkbox
          label(for="select-all").ip-classification-header__label Premier League
        .ip-classification-header__item
          input(type="checkbox" id="select-all").ip-classification-header__checkbox
          label(for="select-all").ip-classification-header__label Major League Soccer
        .ip-classification-header__item
          input(type="checkbox" id="select-all").ip-classification-header__checkbox
          label(for="select-all").ip-classification-header__label Serie A
        .ip-classification-header__item
          input(type="checkbox" id="select-all").ip-classification-header__checkbox
          label(for="select-all").ip-classification-header__label English Carabao Cup
        .ip-classification-header__item
          input(type="checkbox" id="select-all").ip-classification-header__checkbox
          label(for="select-all").ip-classification-header__label French Ligue 1
        .ip-classification-header__item
          input(type="checkbox" id="select-all").ip-classification-header__checkbox
          label(for="select-all").ip-classification-header__label CONCACAF Nations League
        .ip-classification-header__item
          input(type="checkbox" id="select-all").ip-classification-header__checkbox
          label(for="select-all").ip-classification-header__label International Friendly
        .ip-classification-header__item
          input(type="checkbox" id="select-all").ip-classification-header__checkbox
          label(for="select-all").ip-classification-header__label French Ligue 1
        .ip-classification-header__item
          input(type="checkbox" id="select-all").ip-classification-header__checkbox
          label(for="select-all").ip-classification-header__label CONCACAF Nations League
        .ip-classification-header__item
          input(type="checkbox" id="select-all").ip-classification-header__checkbox
          label(for="select-all").ip-classification-header__label International Friendly

      .ip-classification-header__options
        button.ip-classification-header__btn.ip-classification-header__btn--reset
          span Cancel
        button.ip-classification-header__btn.ip-classification-header__btn--ok
          span Ok

mixin ip-classification-header-2
  .ip-classification-header&attributes(attributes)
    .ip-classification-header__wrap
      .ip-classification-header__sports
        .ip-classification-header__icon
          svg(width='16', height='17', viewBox='0 0 16 17', fill='none', xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M15.2435 1.25721C13.7509 -0.235779 7.61682 0.327107 3.68813 4.31622C-0.187384 8.25144 -0.717894 14.2731 0.75649 15.7478C2.20954 17.2011 8.32615 16.7358 12.3119 12.6888C16.1874 8.75355 16.7179 2.73194 15.2435 1.25721ZM14.5781 1.92278C15.1078 2.45263 15.3291 4.54508 14.5509 7.08256C14.4494 6.98094 9.93309 2.46361 9.41958 1.94995C11.9528 1.17275 14.0478 1.39242 14.5781 1.92278ZM7.56402 14.708L5.01268 12.1561L6.27229 10.8962L6.70413 11.3281C6.88791 11.5119 7.18579 11.5119 7.36954 11.3281C7.55329 11.1443 7.55329 10.8463 7.36954 10.6625L6.9377 10.2306L8 9.16805L8.43185 9.59999C8.6156 9.7838 8.91348 9.78377 9.09726 9.59999C9.28101 9.41621 9.28101 9.1182 9.09726 8.93442L8.66542 8.50248L9.72772 7.43989L10.1596 7.87183C10.3433 8.05564 10.6412 8.05561 10.825 7.87183C11.0087 7.68805 11.0087 7.39004 10.825 7.20626L10.3931 6.77432L11.6526 5.51459L14.204 8.06659C12.9628 11.1783 10.6758 13.4664 7.56402 14.708ZM8.43577 2.29702L10.9872 4.84905L9.72772 6.10879L9.29588 5.67685C9.11213 5.49307 8.81422 5.49307 8.63047 5.67685C8.44672 5.86063 8.44672 6.15864 8.63047 6.34242L9.06231 6.77435L8 7.83694L7.56816 7.40501C7.38441 7.22123 7.0865 7.22123 6.90275 7.40501C6.719 7.58879 6.719 7.88679 6.90275 8.07057L7.33459 8.50251L6.27229 9.5651L5.84044 9.13316C5.65669 8.94938 5.35878 8.94938 5.17503 9.13316C4.99128 9.31694 4.99128 9.61495 5.17503 9.79873L5.60687 10.2307L4.34727 11.4906L1.79596 8.93859C3.03486 5.83324 5.31756 3.54122 8.43577 2.29702ZM1.4219 15.0822C0.89249 14.5526 0.670718 12.4608 1.44901 9.92265L6.58021 15.0551C4.03401 15.8362 1.9468 15.6072 1.4219 15.0822Z', fill='white')
        p.ip-classification-header__text.ip-classification-header__text--ellipsis Soccer

      .ip-classification-header__drop
        p.ip-classification-header__drop-toggle Both team to score
        .ip-classification-header__drop-menu
          a.ip-classification-header__drop-item Asian handicap (0 - 0)
          a.ip-classification-header__drop-item 3rd Goal
          a.ip-classification-header__drop-item Match winner

mixin ip-classification-header-3
  .ip-classification-header&attributes(attributes)
    .ip-classification-header__wrap
      .ip-classification-header__sports
        .ip-classification-header__icon
          svg(width='16', height='17', viewBox='0 0 16 17', fill='none', xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M15.2435 1.25721C13.7509 -0.235779 7.61682 0.327107 3.68813 4.31622C-0.187384 8.25144 -0.717894 14.2731 0.75649 15.7478C2.20954 17.2011 8.32615 16.7358 12.3119 12.6888C16.1874 8.75355 16.7179 2.73194 15.2435 1.25721ZM14.5781 1.92278C15.1078 2.45263 15.3291 4.54508 14.5509 7.08256C14.4494 6.98094 9.93309 2.46361 9.41958 1.94995C11.9528 1.17275 14.0478 1.39242 14.5781 1.92278ZM7.56402 14.708L5.01268 12.1561L6.27229 10.8962L6.70413 11.3281C6.88791 11.5119 7.18579 11.5119 7.36954 11.3281C7.55329 11.1443 7.55329 10.8463 7.36954 10.6625L6.9377 10.2306L8 9.16805L8.43185 9.59999C8.6156 9.7838 8.91348 9.78377 9.09726 9.59999C9.28101 9.41621 9.28101 9.1182 9.09726 8.93442L8.66542 8.50248L9.72772 7.43989L10.1596 7.87183C10.3433 8.05564 10.6412 8.05561 10.825 7.87183C11.0087 7.68805 11.0087 7.39004 10.825 7.20626L10.3931 6.77432L11.6526 5.51459L14.204 8.06659C12.9628 11.1783 10.6758 13.4664 7.56402 14.708ZM8.43577 2.29702L10.9872 4.84905L9.72772 6.10879L9.29588 5.67685C9.11213 5.49307 8.81422 5.49307 8.63047 5.67685C8.44672 5.86063 8.44672 6.15864 8.63047 6.34242L9.06231 6.77435L8 7.83694L7.56816 7.40501C7.38441 7.22123 7.0865 7.22123 6.90275 7.40501C6.719 7.58879 6.719 7.88679 6.90275 8.07057L7.33459 8.50251L6.27229 9.5651L5.84044 9.13316C5.65669 8.94938 5.35878 8.94938 5.17503 9.13316C4.99128 9.31694 4.99128 9.61495 5.17503 9.79873L5.60687 10.2307L4.34727 11.4906L1.79596 8.93859C3.03486 5.83324 5.31756 3.54122 8.43577 2.29702ZM1.4219 15.0822C0.89249 14.5526 0.670718 12.4608 1.44901 9.92265L6.58021 15.0551C4.03401 15.8362 1.9468 15.6072 1.4219 15.0822Z', fill='white')
        p.ip-classification-header__text.ip-classification-header__text--ellipsis Soccer

      p.ip-classification-header__text 123
