include ../h-account/_index

mixin h-nav-in
  nav.h-nav&attributes(attributes)
    include ../h-toggle/_index
    include ../h-logo/_index
    include ../h-aside/_index
    include ../h-submenu/_index
    +h-account-in

mixin h-nav-logout
  nav.h-nav&attributes(attributes)
    include ../h-toggle/_index
    include ../h-logo/_index
    include ../h-aside/_index
    include ../h-submenu/_index
    +h-account-logout
