---
title: Title
lang: en
hasLink: false
---
extends ../../../layouts/_layout

include ../../../layouts/header/_index
include ../../../partials/betslip/_index
include ../../../partials/b-accept/_index
include ../../../partials/m-login/_index
include ../../../partials/s-login/_index
include ../../../partials/q-popup/_index
include ../../../partials/cb-aside/_index

block content
  +header-logout
  .main
    +m-login
    //Add b-betslip--active
    +betslip

    //Add b-accept--active
    +b-accept

    //Add s-login--active
    +s-login

    //Add q-popup--active
    +q-popup-1
    +q-popup-2
    +q-popup-3
    +q-popup-4

    //Add cb-aside--active
    +cb-aside

