.aside {
  @include flex(center, center, column);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 0.5s;
  opacity: 0;
  z-index: 1;
  background-color: rgba($secondary, 0.94);
  width: fvw(642);

  &--active {
    transform: translateX(0);
    opacity: 1;
  }
}
