-
  var categorys = [
  {
      name: 'Home',
      color: '#fff'
  },
  {
      name: 'Basketball',
      color: '#fff'
  },
  {
      name: 'Boxing/UFC',
      color: '#fff'
  },
  {
      name: 'Sports',
      color: '#fff'
  },
  {
      name: 'Ice Hockey',
      color: '#fff'
  },
  {
      name: 'Motorbikes',
      color: '#fff'
  },
  {
      name: 'Soccer',
      color: '#fff'
  },
  {
      name: 'Virtual',
      color: '#fff'
  },
  {
      name: 'Other',
      color: '#fff'
  }
  ]
