mixin menu
  -
    var items = [
      {
        text: 'Home',
        link: 'index.html'
      },
      {
        text: 'Our Story',
        link: 'story.html'
      },
      {
        text: 'Menu',
        link: '#'
      },
      {
        text: 'Locations',
        link: 'location.html'
      },
      {
        text: 'Click & Collect',
        link: 'click-collect.html'
      },
      {
        text: 'Book a Table',
        link: 'book-table.html'
      },
      {
        text: 'Careers',
        link: '#'
      },
      {
        text: 'Allergens',
        link: '#'
      },
      {
        text: 'Contact',
        link: '#'
      }
    ]
  menu.menu&attributes(attributes)
    each item in items
      a(href=item.link).font.font--white.font--semibold.menu__item= item.text
