.h-account {
  @include flex(flex-end, center);

  width: 50%;

  &__name,
  &__balance {
    text-transform: uppercase;
    font-size: 10px;
  }

  &__btn {
    @include reset-button;

    border-radius: 2px;
    background-color: $gold;
    padding: 5px 10px;
    min-width: 65px;
  }

  &__block {
    margin-right: 10px;
    max-width: 50%;

    &--right {
      text-align: right;
    }
  }

  &__avatar {
    @include size(24px);
    @include flex(center, center);

    position: relative;
  }

  &__picture {
    @include size(100%);

    svg {
      @include size(100%);

      stroke: $gold;
    }
  }

  &__balance {
    color: $green;
  }

  &__name {
    @include ellipsis;

    color: rgba(#fff, 0.5);
  }
}
