mixin ip-control-bar
  .ip-control-bar&attributes(attributes)
    .ip-control-bar__wrap
      a(href="#").ip-control-bar__link.ip-control-bar__link--active Overview
      a(href="#").ip-control-bar__link Event View
      a(href="#").ip-control-bar__link Schedule

