mixin cb-account-1
  .cb-account&attributes(attributes)
    .cb-account__personal
      .cb-account__identify
        .cb-account__img.cb-account__img--small
          img(src="https://via.placeholder.com/30/F4F4F4")
        .cb-account__cell
          p.cb-account__text.cb-account__text--white.cb-account__text--11 Sergey Prokofiev
          p.cb-account__text
            span.cb-account__text.cb-account__text--11 id
            span.cb-account__text.cb-account__text--white.cb-account__text--11 8131148
        .cb-account__cell.cb-account__cell--right
          p.cb-account__text.cb-account__text--10.cb-account__text--red Not verified

mixin cb-account-2
  .cb-account&attributes(attributes)
    .cb-account__personal
      .cb-account__identify
        .cb-account__img
          img(src="https://via.placeholder.com/60/F4F4F4")
        .cb-account__cell
          .cb-account__block
            p.cb-account__text.cb-account__text--white.cb-account__text--11 Sergey Prokofiev
            p.cb-account__text.cb-account__text--10.cb-account__text--red Not verified
          .cb-account__block
            p.cb-account__text
              span.cb-account__text.cb-account__text--11 id
              span.cb-account__text.cb-account__text--white.cb-account__text--11 8131148
          .cb-account__block
            p.cb-account__text last login date
            p.cb-account__text.cb-account__text--white.cb-account__text--11 21 february
    hr.cb-account__hr
    .cb-account__payements
      .cb-account__cell.cb-account__cell--border
        p.cb-account__text.cb-account__text--11 Account Balance
        p.cb-account__text
          span.cb-account__text.cb-account__text--white.cb-account__text--15 140.00
          span.cb-account__text.cb-account__text--white.cb-account__text--10.cb-account__text--uppercase USD
      .cb-account__cell.cb-account__cell--border
        p.cb-account__text.cb-account__text--11 Casino Balance
        p.cb-account__text
          span.cb-account__text.cb-account__text--white.cb-account__text--15 140.00
          span.cb-account__text.cb-account__text--white.cb-account__text--10.cb-account__text--uppercase USD
      .cb-account__cell
        p.cb-account__text.cb-account__text--11 Bonuses
        p.cb-account__text.cb-account__text--white.cb-account__text--15 500.00
    .cb-account__footer
      button.cb-account__btn
        span Deposit
