.h-service {
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  height: 54px;

  &__wrap {
    @include size(100%);
    @include flex(center, space-between);
  }

  &__item {
    @include flex(center, center);

    position: relative;
    flex: 1;
    padding-right: 2px;
    color: rgba(#fff, 0.5);

    &::after {
      @include size(1px, 15px);

      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background-color: currentColor;
      content: '';
    }

    &:last-child {

      &::after {
        display: none;
      }
    }

    &--active {

      .h-service {

        &__icon {
          opacity: 1;
        }

        &__text {
          color: #fff;
        }
      }
    }
  }

  &__text {
    color: currentColor;
  }

  &__icon {
    @include flex(center, center);
    @include size(20px);

    opacity: 0.5;
    margin-right: 5px;
  }
}
