include ../../partials/toggle/_index
include ../../partials/logo/_index
include ../../partials/title/_index

mixin header
  header.header&attributes(attributes)
    .header__toggle
      +toggle
    .header__logo
      +logo
    .header__title
      +title('locations')
