@import 'menu/index';

.header {
  @include size(100%, 100vh);
  @include flex(center, center, column);

  position: relative;
  background-color: $secondary;

  &__logo {
    position: absolute;
    bottom: fvw(100);
    left: fvw(110);
  }

  &__toggle {
    position: absolute;
    top: fvw(65);
    left: fvw(65);
  }

  &__btn {
    position: absolute;
    bottom: fvw(100);
    left: 50%;
    transform: translateX(-50%);
  }
}
