.preloader {
  @include flex(center, center);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 14;
  background-color: #2f3346;
  background-image: url('../img/bg/bg.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: contain;

  &__logo,
  &__text {
    @include flex(center, center);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      transition: all 0.4s;
      opacity: 0;
    }
  }

  &__wrap {
    position: relative;
  }

  &__logo {
    transition: all 0.4s;
    width: 50px;

    img {
      transform: scale(0);
    }
  }

  &__text {
    overflow: hidden;

    img {
      transform: translateX(-50%);
      transform-origin: 0 50%;
    }
  }

  &--active {

    .preloader {

      &__logo {
        transform: translate(-80px, -50%);
        transition-delay: 0.6s;

        img {
          transform: scale(1);
          transition-delay: 0.2s;
          opacity: 1;
        }
      }

      &__text {
        transform: translate(-25%, -50%);
        width: 120px;

        img {
          transform: translateX(0);
          transition-delay: 0.7s;
          opacity: 1;
        }
      }
    }
  }
}
