mixin preloader
  .preloader&attributes(attributes)
    .preloader__wrap
      .preloader__logo
        img(src="/img/logo/logo_placeholder.svg")
      .preloader__text
        img(src="/img/logo/logo_text.svg")
