mixin b-accept
  .b-accept&attributes(attributes)
    .b-accept__wrapper
      .b-accept__header
        p.b-accept__remove Bet accepted
        a.b-accept__edit Done

      .b-accept__body

        .b-accept__bets
          .b-accept__bet
            .b-accept__cell
              p.b-accept__title Queen of South Reserves
              p.b-accept__market.b-accept__market--blue Fulltime Result
              p.b-accept__teams Chennaiyin FC v Hyderabad FC
            .b-accept__cell.b-accept__cell--sm
              p.b-accept__odds 1.34

          .b-accept__bet
            .b-accept__cell
              p.b-accept__title Queen of South Reserves
              p.b-accept__market.b-accept__market--blue Fulltime Result
              p.b-accept__teams Chennaiyin FC v Hyderabad FC
            .b-accept__cell.b-accept__cell--sm
              p.b-accept__odds.b-accept__odds--down 1.34

          .b-accept__bet
            .b-accept__cell
              p.b-accept__title Queen of South Reserves
              p.b-accept__market.b-accept__market--blue Fulltime Result
              p.b-accept__teams Chennaiyin FC v Hyderabad FC
            .b-accept__cell.b-accept__cell--sm
              p.b-accept__odds.b-accept__odds--up 1.34

        .b-accept__footer
          .b-accept__info
            .b-accept__cell
              p.b-accept__text Trebles
              p.b-accept__odds 2.17
            .b-accept__cell
              p.b-accept__text Stake
              p.b-accept__money 500.00 $
            .b-accept__cell
              p.b-accept__text To return
              p.b-accept__money.b-accept__money--green 500.00 $

          .b-accept__info
            .b-accept__cell
              p.b-accept__text Total Stake
              p.b-accept__money 500.00 $
            .b-accept__cell
              p.b-accept__text To return
              p.b-accept__money.b-accept__money--green 500.00 $
