.b-accept {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: $default-transition;
  opacity: 0;
  z-index: -1;
  background-color: rgba(#1a1e30, 0.5);

  &__money,
  &__text,
  &__title,
  &__market,
  &__teams {
    @include ellipsis;
  }

  &__title,
  &__market,
  &__teams {
    margin: 4px 0;
  }

  &__remove,
  &__edit {
    color: #fff;
    font-size: 11px;
  }

  &__wrapper {
    @include flex($justify-content: flex-end, $direction: column);

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: $default-transition;
    border-radius: 2px 2px 0 0;
    background-color: #f6f8ff;
    padding: 10px 10px 65px;
    width: 100%;
    max-width: 500px;
    max-height: calc(100% - 50px);
    overflow: hidden;
  }

  &__body {
    @include overflow-y;
  }

  &__header {
    @include flex(space-between, center);
    @include size(100%, 33px);

    flex-shrink: 0;
    border-radius: 4px 4px 0 0;
    background-color: $green;
    padding: 0 10px;
  }

  &__bets {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  &__bet {
    @include size(100%, 108px);

    border-bottom: 1px dashed rgba(#c2d3d4, 0.5);
    background-color: #fff;
    padding: 10px;
    overflow: hidden;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__wrap {
    @include flex(space-between, center);
  }

  &__bottom {
    @include flex(space-between, center);

    margin-top: 5px;
  }

  &__field {
    @include size(66px, 30px);
    @include placeholder(rgba(#75757C, 0.5), true, 13px);

    -moz-appearance: textfield;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    background-color: #f9f9f9;
    padding: 0 10px;
    text-align: center;
    color: rgba(#383a4a, 0.8);
    font-size: 16px;
    margin-left: 10px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      appearance: none;
    }
  }

  &__title {
    font-weight: 500;
  }

  &__market {
    font-size: 12px;

    &--blue {
      color: $blue;
    }
  }

  &__teams {
    color: #75757c;
    font-size: 11px;
  }

  &__cell {
    overflow: hidden;

    &--sm {
      @include flex(flex-end, center);

      padding-left: 5px;
      width: 130px;
    }
  }

  &__odds {
    color: $blue;
    font-weight: 700;

    &--up {
      color: $green;
    }

    &--down {
      color: $red;
    }
  }

  &__footer {
    margin-top: 5px;
  }

  &__info {
    @include flex(space-betwenn, center);
    @include size(100%, 50px);

    position: relative;
    margin-bottom: 5px;
    border-radius: 2px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;

    .b-accept {

      &__cell {
        @include flex(space-between, center, $wrap: wrap);

        position: relative;
        flex: 1;
        padding: 0 10px;

        > * {
          margin: 2px 0 0 2px;
        }

        &::after {
          @include size(1px, 31px);

          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          background-color: rgba(#c2d3d4, 0.5);
          content: '';
        }

        &:last-child {

          &::after {
            display: none;
          }
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    color: rgba(#383a4a, 0.65);
    font-size: 13px;
  }

  &__money {

    &--green {
      color: $green;
    }
  }

  &--active {
    opacity: 1;
    z-index: 11;

    .b-accept {

      &__wrapper {
        transform: translateX(-50%);
      }
    }
  }
}
