.h-aside {
  @include flex(space-between, stretch, column);

  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 0.5s;
  opacity: 0;
  z-index: 12;
  background-color: #1a1e30;

  @include media-min(600) {
    right: auto;
    width: 350px;
  }

  &__top,
  &__center {
    padding: 5px 8px;
  }

  &__center {
    @include overflow-y;

    flex-grow: 1;
    max-height: 100%;
  }

  &__bottom {
    margin-top: auto;
    margin-bottom: 0;
    height: 50px;
  }

  &--active {
    transform: translateX(0);
    opacity: 1;
  }
}
