include ../h-search/_index
include ../h-category/_index

aside.h-aside
  .h-aside__top
    +h-search(true)
    include ../h-menu/_index
  .h-aside__center
    each category,index in categorys
      +h-category(category.name)(class=index === 0 && 'h-category--active')
  .h-aside__bottom
    include ../h-service/_index
